:root {
  --black: black;
  --white: white;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 0;
  padding-top: 0;
  padding-left: 292px;
  padding-right: 292px;
  display: flex;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-left: -116px;
  padding-left: 128px;
  display: flex;
}

.navbar-brand {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #f30000;
}

.nav-menu-wrapper {
  opacity: 1;
  mix-blend-mode: normal;
  margin-left: -26px;
  padding-left: 0;
  left: -140px;
}

.nav-menu-two {
  min-width: 0;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  aspect-ratio: 2.39 / 1;
  flex-flow: row;
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  margin-left: -90px;
  padding-left: 10px;
  display: flex;
}

.nav-link {
  direction: ltr;
  color: #000;
  text-align: left;
  letter-spacing: 2px;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #fff;
  text-transform: capitalize;
  white-space: pre;
  word-break: normal;
  border: 0 solid #2b2033;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 41px 5px 10px;
  font-family: "Bmg 3", sans-serif;
  font-size: 40px;
  line-height: 20px;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.gallery-overview {
  opacity: 1;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: transparent;
  background-color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-style: none;
  border-radius: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.container-2 {
  width: 30%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  object-fit: scale-down;
  grid-template: "Area . Area-2"
  / 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  font-family: Minecraft;
  display: grid;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-features-block {
  margin-top: 16px;
  margin-bottom: 24px;
}

.gallery-feature {
  background-image: url('../images/');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-bottom: 8px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.button-primary-2.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.gallery-grid {
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery-image {
  width: 100%;
}

.gallery-image.shadow-two {
  max-width: none;
}

.footer-subscribe {
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 40px;
  position: relative;
}

.footer-form-two {
  background-color: #f5f7fa;
  margin-bottom: 40px;
  padding: 64px;
}

.footer-form-container-two {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-form-title {
  font-size: 24px;
  line-height: 32px;
}

.footer-form-block-two {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-form-input {
  width: 460px;
  height: 48px;
  border: 1px #000;
  margin-bottom: 0;
  padding: 12px 180px 12px 20px;
}

.footer-form-input::-ms-input-placeholder {
  color: rgba(26, 27, 31, .8);
}

.footer-form-input::placeholder {
  color: rgba(26, 27, 31, .8);
}

.footer-wrapper-three {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.footer-link-three {
  color: #1a1b1f;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.footer-link-three:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -32px;
  display: flex;
}

.footer-social-link-three {
  margin-left: 32px;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-legal-block {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-legal-link {
  color: #3a4554;
  margin-left: 24px;
}

.footer-legal-link:hover {
  color: #3a4554;
}

.image {
  border-radius: 20px;
  margin-right: 140px;
  padding-right: 0;
  display: inline-block;
}

.list-item {
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 0;
}

.text-block {
  opacity: 1;
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  text-transform: capitalize;
  word-break: normal;
  object-fit: fill;
  border: 0 rgba(0, 0, 0, 0);
  font-family: Great Vibes, cursive;
  font-size: 90px;
  font-weight: 400;
  text-decoration: none;
  position: static;
}

.text-span {
  color: #000;
}

.image-2 {
  margin-top: 60px;
  margin-left: 40px;
  padding-bottom: 0;
  padding-left: 0;
}

.image-3 {
  margin-top: 60px;
  margin-left: 40px;
}

.image-4 {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.section {
  border: 1px #000;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
}

.image-5 {
  float: none;
  clear: none;
  aspect-ratio: auto;
  object-fit: fill;
  display: inline;
}

.container-3 {
  border: 1px #000;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.image-6, .image-7, .image-8 {
  margin-left: 20px;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.form {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.field-label {
  padding-right: 0;
  position: static;
}

.navbar-logo-left-container-2 {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container-2.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two-2 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-2 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-2 {
  margin-right: 10px;
}

.nav-dropdown-list-2 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-2.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider-2 {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent-2:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.paragraph {
  margin-top: -20px;
  margin-bottom: 0;
  padding-top: 482px;
  padding-bottom: 0;
}

.section-2 {
  margin-bottom: -396px;
  padding-bottom: 75px;
}

.image-9 {
  margin: 253px 70px;
}

.image-10 {
  margin-left: 54px;
  margin-right: 54px;
  padding-left: 0;
}

.paragraph-2 {
  margin-left: 79px;
  margin-right: 79px;
  padding-left: 14px;
  padding-right: 14px;
}

.paragraph-3 {
  aspect-ratio: auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.paragraph-4 {
  font-family: "Bmg 3", sans-serif;
  font-size: 14px;
}

.heading {
  text-align: center;
  font-family: Minecraftten Vgore, sans-serif;
}

.paragraph-5 {
  font-family: "Bmg 3", sans-serif;
}

.container-5 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  display: flex;
}

.link, .link-2, .link-3, .link-4 {
  color: #000;
  text-align: center;
  padding-left: 30px;
  font-family: "Bmg 3", sans-serif;
  font-size: 35px;
  text-decoration: none;
}

.image-11 {
  padding-left: 30px;
  padding-right: 30px;
}

.container-6 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.heading-2 {
  text-align: center;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 50px;
}

.link-5 {
  text-align: center;
}

.link-5.w--current {
  color: #000;
  text-align: center;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 50px;
}

.section-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 33px;
  padding-top: 0;
  padding-bottom: 70px;
  display: flex;
}

.body-dark {
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: inherit;
  text-align: left;
  background-image: url('../images/Minecraft_Club_Background_Dark.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.link-6 {
  color: #000;
  text-align: center;
  margin-top: 45px;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 50px;
  text-decoration: none;
}

.section-4 {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.paragraph-6 {
  color: #000;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 115px;
  font-family: "Bmg 3", sans-serif;
  font-size: 30px;
}

.heading-3 {
  color: #000;
  margin-top: 60px;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 50px;
  text-decoration: underline;
}

.container-7 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-4 {
  color: #000;
  text-align: center;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 50px;
}

.paragraph-7 {
  color: #000;
  text-align: center;
  margin-bottom: 90px;
  font-family: "Bmg 3", sans-serif;
  font-size: 30px;
}

.paragraph-8 {
  color: #fff;
  text-shadow: -1px 1px #000;
  margin-bottom: 10px;
  padding-left: 15px;
  font-family: PT Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.link-main {
  color: #81dbff;
  text-shadow: -1px 1px #000;
  font-size: 18px;
}

.logos-without-title {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.container-8 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clients-wrapper-three {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -10px;
  display: flex;
}

.clients-image-three {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.text-block-2 {
  font-size: 20px;
}

.logos-title-large {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.clients-title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.clients-wrapper {
  max-width: 750px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.content {
  color: #fff;
  padding: 24px;
}

.navbar-logo-left-container-3 {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container-3.navbar-container {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two-3 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-left: 28px;
  display: flex;
}

.navbar-entry {
  color: #fff;
  text-align: center;
  letter-spacing: .25px;
  text-shadow: -1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
  overflow-wrap: normal;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: "Bmg 3", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  display: block;
}

.navbar-entry:hover {
  color: rgba(26, 27, 31, .75);
}

.navbar-entry:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.navbar-entry[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.navbar-entry.w--current {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.nav-dropdown-3 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-3 {
  letter-spacing: .25px;
  padding: 5px 15px 5px 0;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-3:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-3 {
  color: #fff;
  margin-right: 10px;
}

.nav-dropdown-list-3 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-3.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider-3 {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent-3 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent-3:hover {
  color: rgba(26, 27, 31, .75);
}

.mobile-margin-top-12 {
  margin-left: -14px;
}

.wiki-button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border: 1px #000;
  border-radius: 16px;
  margin-left: 25px;
  margin-right: 53px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 28px;
  transition: all .2s;
}

.wiki-button:hover {
  color: #fff;
  background-color: #32343a;
}

.wiki-button:active {
  background-color: #43464d;
}

.html-embed {
  margin-left: 0;
}

.link-block {
  z-index: 50;
  border-radius: 0;
  position: relative;
}

.discord-button {
  z-index: 3;
  width: 350px;
  height: 74px;
  pointer-events: auto;
  object-fit: contain;
  border-radius: 25px;
  margin-bottom: 0;
  margin-left: -90px;
  margin-right: -247px;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transform: scale(.7);
}

.html-embed-2 {
  z-index: 2;
  pointer-events: none;
  -webkit-text-stroke-width: 0px;
  flex-wrap: nowrap;
  padding-right: 0;
  font-weight: 400;
  display: block;
  position: relative;
  transform: translate(0);
}

.nav-dropdown-link-3-copy {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-3-copy:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-3-copy[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.logos-quote-divider {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.container-9 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clients-wrapper-two {
  max-width: 820px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients-info-two {
  max-width: 350px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.clients-quote-two {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.clients-divider {
  width: 90%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clients-info {
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.clients-info-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 24px;
}

.clients-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.partners {
  border-bottom: 0 solid #000;
  padding: 60px 30px;
  position: relative;
}

.clients-title-2 {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #000;
  font-family: "Bmg 3", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
}

.clients-wrapper-2 {
  max-width: 750px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients-image-2 {
  margin-left: 26px;
}

.text-block-3, .text-block-4, .text-block-5 {
  font-size: 20px;
}

.list-item-2 {
  margin-left: -10px;
  padding-left: 0;
}

.heading-1 {
  margin-top: 40px;
}

.subheading-1 {
  color: #fff;
  text-shadow: -1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Bmg 3", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.logos-title-large-2 {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.main-heading {
  color: #fff;
  text-align: left;
  text-shadow: 1px -1px 0 var(--black), -1px 1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000;
  font-family: "Bmg 3", sans-serif;
  font-size: 38px;
  font-weight: 400;
}

.tag {
  color: #fff;
  text-shadow: -1px 1px #000;
  font-family: PT Sans, sans-serif;
  font-weight: 700;
}

.quick-stack {
  padding-left: 15px;
}

.body-index {
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/Minecraft_Club_Background.jpg');
  background-size: auto;
  background-clip: border-box;
  margin-left: 0;
}

.heading-6 {
  color: #ca2d2d;
  text-align: center;
  font-family: Minecraftten Vgore, sans-serif;
}

.homepage-title {
  z-index: 3;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  font-family: Minecraftten Vgore, sans-serif;
  font-size: 78px;
  font-weight: 400;
  line-height: 84px;
  position: static;
}

.clients-image-3 {
  margin-left: 26px;
}

.navbar-entry-home {
  color: #fff;
  text-align: center;
  letter-spacing: .25px;
  overflow-wrap: normal;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: "Bmg 3", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  display: block;
}

.navbar-entry-home:hover {
  color: rgba(26, 27, 31, .75);
}

.navbar-entry-home:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.navbar-entry-home[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.navbar-entry-home.w--current {
  color: #fff;
  font-size: 20px;
}

.partners-heading {
  color: #fff;
  text-align: center;
  text-shadow: 1px -1px 0 var(--black), -1px 1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000;
  font-family: "Bmg 3", sans-serif;
  font-size: 38px;
  font-weight: 400;
}

.image-12 {
  float: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

.section-5 {
  float: none;
}

.div-block-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-13 {
  border-radius: 15px;
  margin-left: 80px;
  margin-right: 92px;
  padding-right: 0;
}

.image-14 {
  border-radius: 15px;
}

.div-block-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .navbar-logo-left {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-2 {
    max-width: 728px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .footer-form-two {
    padding: 40px;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-form-input {
    width: 400px;
    padding-right: 180px;
  }

  .footer-wrapper-three {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-three {
    margin-top: 40px;
  }

  .image {
    padding-left: 0;
    padding-right: 0;
  }

  .text-block {
    font-weight: 400;
    line-height: 20px;
  }

  .container-4 {
    max-width: 728px;
  }

  .nav-menu-wrapper-2 {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two-2 {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .link, .link-2, .link-3, .link-4 {
    font-size: 25px;
  }

  .container-8 {
    max-width: 728px;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }

  .clients-title {
    margin-bottom: 32px;
  }

  .nav-menu-wrapper-3 {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two-3 {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .navbar-entry {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: absolute;
  }

  .mobile-margin-top-12 {
    margin-left: 0;
  }

  .menu-button-3 {
    padding: 12px;
  }

  .menu-button-3.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-9 {
    max-width: 728px;
  }

  .clients-quote-two {
    font-size: 28px;
    line-height: 36px;
  }

  .clients-title-2 {
    margin-bottom: 32px;
  }

  .body-69 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-entry-home {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .gallery-overview {
    padding: 60px 15px;
  }

  .footer-subscribe {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-form-container-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-title {
    margin-right: 0;
  }

  .footer-form-block-two {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-block-three {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
  }

  .footer-social-block-three {
    margin-top: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-legal-block {
    margin-top: 15px;
    margin-left: -24px;
  }

  .footer-legal-link {
    font-size: 14px;
    line-height: 20px;
  }

  .text-block {
    font-size: 50px;
    line-height: 15px;
  }

  .navbar-logo-left-container-2 {
    max-width: 100%;
  }

  .navbar-brand-2 {
    padding-left: 0;
  }

  .nav-menu-two-2 {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-2.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-2.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider-2 {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-2 {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-11 {
    margin-top: 10px;
  }

  .container-5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragraph-8 {
    font-size: 18px;
  }

  .link-main {
    font-size: 15px;
  }

  .logos-without-title {
    padding: 60px 15px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
  }

  .clients-image-three {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .logos-title-large {
    padding: 60px 15px;
  }

  .clients-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -20px;
  }

  .clients-image {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar-logo-left-container-3 {
    max-width: 100%;
  }

  .club-logo {
    padding-left: 0;
  }

  .nav-menu-two-3 {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .navbar-entry {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-3 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-3.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-3.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider-3 {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-3 {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-12 {
    margin-top: 10px;
    margin-left: 0;
  }

  .logos-quote-divider {
    padding: 60px 15px;
  }

  .clients-wrapper-two {
    flex-direction: column;
  }

  .clients-info-two {
    max-width: none;
    margin-bottom: 40px;
  }

  .clients-grid {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
  }

  .partners {
    padding: 60px 15px;
  }

  .clients-wrapper-2 {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -20px;
  }

  .clients-image-2 {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .subheading-1 {
    font-size: 24px;
  }

  .logos-title-large-2 {
    padding: 60px 15px;
  }

  .main-heading {
    font-size: 30px;
  }

  .tag {
    font-size: 15px;
  }

  .clients-image-3 {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar-entry-home {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .partners-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .container-2 {
    max-width: none;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .button-primary-2.footer-form-button {
    position: relative;
    right: 0;
  }

  .footer-form-two {
    padding: 20px;
  }

  .footer-form-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-input {
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .text-block {
    font-size: 30px;
    line-height: 10px;
  }

  .container-4 {
    max-width: none;
  }

  .nav-menu-two-2 {
    flex-direction: column;
  }

  .container-5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link, .link-2, .link-3, .link-4 {
    font-size: 20px;
  }

  .container-6 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .paragraph-8 {
    font-size: 15px;
  }

  .link-main {
    font-size: 14px;
  }

  .container-8 {
    max-width: none;
  }

  .clients-wrapper-three {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-bottom: 0;
    display: grid;
  }

  .clients-image-three {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .clients-image {
    margin-left: 10px;
    margin-right: 10px;
  }

  .content {
    padding-top: 0;
  }

  .nav-menu-two-3 {
    flex-direction: column;
  }

  .nav-dropdown-icon-3 {
    color: #000;
  }

  .mobile-margin-top-12 {
    margin-left: 0;
  }

  .wiki-button {
    margin-right: 12px;
  }

  .menu-button-3 {
    color: #fff;
  }

  .discord-button {
    width: 250px;
    max-width: 200px;
    margin-left: auto;
    margin-right: 2px;
  }

  .container-9 {
    max-width: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .clients-quote-two {
    font-size: 24px;
    line-height: 32px;
  }

  .clients-info-image {
    margin-right: 16px;
  }

  .clients-grid {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .partners {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .clients-title-2 {
    -webkit-text-stroke-width: 0px;
    font-size: 25px;
  }

  .clients-image-2 {
    max-width: 70%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  .subheading-1 {
    font-size: 20px;
  }

  .main-heading {
    font-size: 24px;
  }

  .tag, .cell {
    font-size: 15px;
  }

  .quick-stack {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .body-69 {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    text-align: left;
    object-fit: fill;
    display: block;
  }

  .homepage-title {
    -webkit-text-stroke-width: 2px;
    margin-top: -68px;
    margin-bottom: -54px;
    font-size: 44px;
    line-height: 54px;
  }

  .icon {
    color: #fff;
  }

  .link-block-6, .link-block-7 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .clients-image-3 {
    max-width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  .partners-heading {
    font-size: 24px;
  }

  .image-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

#w-node-f59246b4-cff0-beb1-6800-ef0439a214fd-3ceda17c, #w-node-_8ed68ebb-cd31-4844-1a4d-fdb4965c1e79-3ceda17c, #w-node-_709aa162-ec64-792e-a2f7-a3269d6a4e16-3ceda17c, #w-node-_5a6c40b1-82b1-3001-85f3-7032a32e7fbf-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
}

#w-node-_67eb2820-2200-2d2d-9105-3cd33387f986-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr 4fr;
}

#w-node-f429f444-e2ff-95a2-3876-cf2f1018970d-3ceda17c, #w-node-_6b12d63f-e3bd-78b6-d7f6-d77c246d866b-3ceda17c, #w-node-ec518fd5-9de9-9311-9d3f-af2202a56b56-3ceda17c, #w-node-_5ab4ac7b-d43d-0d35-b7c2-77ea11d91fac-3ceda17c, #w-node-c7809fcb-5880-f91f-6257-941f1b67a718-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
}

#w-node-_44a3af45-b3b5-6b41-5703-1de87d014342-3ceda17c, #w-node-e83c9d37-1903-212a-1de8-bc0841ac7c5a-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr 4fr;
}

#w-node-a5d1e249-a887-fbb3-ff6c-bda8dcde853b-3ceda17c, #w-node-_84dc4f9e-b5f3-2c5a-3f00-d895cf4eccb7-3ceda17c, #w-node-e0915ec4-0782-adf7-43c9-71bbfead0520-3ceda17c, #w-node-_249d9ae2-cd25-491d-48df-61dd43da030a-3ceda17c, #w-node-b2dc7d91-7b8f-876b-12cd-32e59960b516-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
}

#w-node-e0a65508-0a2b-8afb-d847-89b971ad1801-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr 4fr;
}

#w-node-_1a69ecfb-c15a-164c-a831-c10f485e234c-3ceda17c, #w-node-fb4d59da-05be-a3c8-8801-a80b343eb76b-3ceda17c, #w-node-_7c623bcc-032b-7b4c-9ba2-cf472c726f21-3ceda17c, #w-node-c48fe3d7-973f-f4d1-388d-4fd751e71437-3ceda17c, #w-node-_40e5e5d0-fd7f-11f9-d848-cb19c07c245e-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
}

#w-node-ede62cb9-94ca-7a72-f200-19e8b3450811-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr 4fr;
}

#w-node-_4dbf346a-32f8-3b04-a4fc-e09742c78240-3ceda17c, #w-node-_059f45e4-ac49-2250-cec0-d1674b89c9e3-3ceda17c, #w-node-_35772892-2207-3a9c-8e18-97496e3f7802-3ceda17c, #w-node-_5b92d277-34bf-1d94-16bc-343d00746459-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
}

#w-node-_0ba14f03-76fb-97b6-247f-1b4e4346fe56-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr 4fr;
}

#w-node-ec7f0cef-8960-7b49-9dd8-bc64c2eeb9cf-3ceda17c {
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
}


@font-face {
  font-family: 'Minecraftten Vgore';
  src: url('../fonts/MinecraftTen-VGORe.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bmg 3';
  src: url('../fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}